.certificate-container {
  padding: 100px;
  height: 100%;
  width:100%;
  border: 20px solid $secondary;
  // border-radius: 25px;
  text-align: center;

  h1 {
    font-size: 72px;
  }
}

.certificate-container h2 {
  font-size: 54px;
}

.certificate-container h3, .certificate-container a {
  font-size: 40px;
  color: $body-color;
}

.certificate-container p {
  font-size: 24px;
}
