.welcome {
  padding-top: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
    h3 {
    text-align: center;
    }
}

.avatar-dashboard {
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;

}

.personal-vol-info p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.dashboard-cards-container {
  padding-bottom: 10px;
}

.dashboard-links a {
  font-size: small;
}