.welcome {
  display: block;
  align-items: center;
  justify-content: center;
    h1 {
    text-align: center;
    }
}

.avatar-dashboard {
    display: block;
  margin-left: auto;
  margin-right: auto;
}