#hero-image{
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.margin-top-bottom{
  margin-top: 30px;
  margin-bottom: 25px;
}

.step{
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.step-icon{
  width: 31px;
}

.step span{
  margin-left: 20px;
}

.steps{
  margin-bottom: 100px;
}

