// Import page-specific CSS files here.
@import "home";
@import "show";

.main-container{
  width: 325px;
  margin: 0 auto;
}

.banner{
  height: 140px;
  background-color: $body-color;
}

.rounded-search{
  background: white;
}

h4{
  color: $light;
  text-align: center;
  margin-top: 30px;
}

.details-filter{
  display: flex;
  justify-content: space-between;
}

.pills{
  display: flex;
}
