// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";

.main-container{
  width: 325px;
  margin: 0 auto;
}

.banner{
  height: 140px;
  background-color: $body-color;
  h4{
    color: $light;
    text-align: center;
    margin-top: 0;
  }
}

.rounded-search{
  background: white;
}

.details-filter{
  display: flex;
  justify-content: space-between;
  p {
    font-size: $label;
  }
}

.pills{
  display: flex;
  width: 325px;
}

.link-style a {
    text-decoration: none !important;
    color: $body-color !important;
  &:hover{
    text-decoration: none !important;
    color: $body-color !important;
  }
}

.cards-container{
  padding-bottom: 70px;
}

.hide{
  display: none;
}

#sort{
  width: 20px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

.date{
  color: $primary;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 18px;
}
