.show-banner-img{
  width: 100%;
  background-position:center top;
  display: table;
  position: relative;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}


.show-banner-content {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  opacity: 0.9;

  h1 {
      letter-spacing: -1px;
  }
}

#map {
  width: 100%;
  height: 600px;
  border-radius: 15px;
}


.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 8px;
  object-fit: cover;
}

.my-label {
  font-weight: bold;
}

.counter { 
  font-weight: lighter;
}


