<div class="nav-container-purple">
  <div class="logo-login-purple">
    <a href="/"><img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607954811/Vector_1_k2lco5.png" width="17" height="17" alt=""> Upfluential</a>
    <p class= "login">
      <% if user_signed_in? %>
          <%= link_to "log out", destroy_user_session_path, method: :delete%>
      <% else %>
          <%= link_to "login", new_user_session_path %>
      <% end %>
    </p>
  </div>
</div>
