<div class="nav-container-white">
  <div class="logo-login-white">
    <a href="/"><i class="fas fa-arrow-circle-up"></i> Upfluential</a>
    <p class="login">
      <% if user_signed_in? %>
          <%= link_to "log out", destroy_user_session_path, method: :delete%>
      <% else %>
          <%= link_to "login", new_user_session_path %>
      <% end %>
    </p>
  </div>
</div>
