<div class="nav-container">
  <div class="logo-login-purple">
    <p> <i class="fas fa-arrow-circle-up"></i>Upfluential</p>
    <p>
      <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete%>
      <% else %>
          <%= link_to "Login", new_user_session_path %>
      <% end %>
    </p>
  </div>
</div>
