<div class="container">
  <div class="banner">
    <h3>Missions in location</h3>
    <div class="search-form">
       <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-search mb-2",
          placeholder: "Introduce your city"%>
        <% end %>
    </div>
  </div>
  <div class="details-filter d-flex">
    <p>250 missions found</p>
    <p>Filter<i class="filter"></i></p>
  </div>
  <div class="pills d-flex">
    <div class="pill">
      <p>category</p>
    </div>
    <div class="pill">
      <p>category</p>
    </div>
    <div class="pill">
      <p>category</p>
    </div>
    <div class="pill">
      <p>category</p>
    </div>
  </div>
  <div class="card-container">

    <div class="card d-flex">
      <div class="card-info">
        <p><i class="calendar"></i>15th DEC, 17:00</p>
        <h5>Beach Cleanup</h5>
        <p>Amigos de la playa</p>
      </div>
      <div class="card-info2 d-flex-column justify-content-between">
        <i class="heart"></i>
        <p>3 spots</p>
      </div>
    </div>
  </div>
</div>
