<img src= alt="">
  <br>
  <br>
  <br>
  <div class="container">
    <h1>Connecting good people with good causes.</h1>
    <p>Find volunteering missions around you</p>
    <div class="search-form">
       <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-search mb-2",
          placeholder: "Introduce your city"%>
        <%= submit_tag "GO!", class: "primary-button"%>
        <% end %>
      <br>
      <br>
      <br>
        <h3>A unique platform with a huge variety of volunteer opportunities.</h3>
    <ul>
      <li>Find the perfect event easily with our search.</li>
      <li>Book it with the touch of a button.</li>
      <li>Get ready to contribute to your favorite causes.</li>
    </ul>
      </div>
    </div>
  </div>
