<%= render 'shared/logo-login-white' %>
<img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607506215/upfluential_hero_illustration_r2e0xb.png" alt="" id="hero-image">
<div class="container">
    <h1 class="margin-top-bottom">Connecting good people with good causes.</h1>
    <p>Find volunteering missions around you</p>
    <div class="search-form">
       <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-search mb-2",
          placeholder: "Introduce your city"%>
        <%= submit_tag "GO!", class: "primary-button"%>
        <% end %>
    </div>
    <h3 class="margin-top-bottom">A unique platform with a huge variety of volunteer opportunities.</h3>
    <div class="steps margin-top-bottom">
      <div class="step">
        <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607513658/Groupglass_lhthvo.png" class="step-icon">
        <span class="even-margin">Find the perfect event easily with our search.</span>
      </div>
      <div class="step">
        <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607514367/Group_29tap_ud7dkv.png" class="step-icon">
        <span class="even-margin">Book it with the touch of a button.</span>
      </div>
      <div class="step">
        <img src="https://res.cloudinary.com/kennedyodegaard/image/upload/v1607513661/Vectorheart_bx0iai.png" class="step-icon">
        <span>Get ready to contribute to your favorite causes.</span>
    </div>
  </div>
  </div>
