.primary-button{
  width: 325px;
  height: 45px;
  border-radius: 12px;
  background-color: #F86D70;
  border: none;
  color: white;

  p {
    vertical-align: middle;
    text-align: center;
  }
}

.primary-button.disabled {
  pointer-events:none;
  opacity: 0.6;
}

