.primary-button{
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  background-color: #F86D70;
  border: none;
  color: white;
  text-align: center;
  display: block;
  a {
    color: white;
  }
}

.back-button {
width: 100%;
height: 45px;
border-radius: 12px;
background-color: #167FFB;
border: none;
color: white;
padding: 15px;
text-decoration: none !important;
}

.back-button:hover {
    text-decoration: none !important;
    color: white !important;
}

.primary-button.disabled {
  pointer-events:none;
  opacity: 0.6;
}

.map-view-button {
  border-radius: 20px;
  background: $body-color;
  color: $white;
  font-size: $label;
  padding: 7px 15px;
  margin-bottom: 55px;
}

p{
  margin-bottom: 5px;
}

.centered-button-container {
  display: flex;
  justify-content: center;
}
