.primary-button{
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  background-color: #F86D70;
  border: none;
  color: white;
  text-align: center;
  display: block;
  a {
    color: white;
  }

}.secondary-button{
  width: 70%;
  padding: 5px 0;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid #F86D70;
  color: #F86D70;
  text-align: center;
  display: block;
  a {
    color: white;
  }
}

.back-button {
width: 100%;
height: 45px;
border-radius: 12px;
background-color: #167FFB;
border: none;
color: white;
top: 70px;
left: 15px;
text-decoration: none !important;
}

.share-btn {
  position: absolute;
  top: -240px;
  right: 15px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  padding: 6px;
  width: 30px;
  height: 30px;
  line-height: 0.6em;
  text-shadow: 8px 8px 16px #000000;

  i {
    margin-right: 2px;
  }
}

.back-button:hover {
    text-decoration: none !important;
    color: white !important;
}

.primary-button.disabled {
  pointer-events:none;
  opacity: 0.6;
}

.map-view-button {
  border-radius: 20px;
  background: $body-color;
  color: $white;
  font-size: $label;
  padding: 7px 15px;
  margin-bottom: 55px;
}

p{
  margin-bottom: 5px;
}

.centered-button-container {
  display: flex;
  justify-content: center;
}

.more-event-button{
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  background-color: white;
  border: 2px solid #F86D70;
  color: #F86D70;
  text-align: center;
  display: block;
  text-decoration: none !important;
  a {
    color:  #F86D70;
  }
}

.more-event-button:hover {
  border: 2px solid #4B488F;
  color:  #4B488F;
}
