.event-card{
  padding: 8px 8px;
  border-radius: 16px;
  height: 100px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  border: 1px solid $light;
  p{
    font-size: $label;
  }
}

#heart{
  height: 20px;
}

.card-information{
  margin-top: 7px;
  width: 100%;
}

.card-info{
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 6px;
  }
}

.card-info2{
  display: flex;
  justify-content: space-between;
}

#event-image{
  height: 80px;
  width: 80px;
  border-radius: 13px;
  object-fit: cover;
  margin-right: 8px;
}

.status-card {
  display: flex;
  margin-bottom: 10px;
}

.upcoming-card {
  height: 151px;
  width: 150px;
  border-radius: 13px;
  background-color: #3F3D56;
  color: white;
  margin-right: 15px;
  h3 {
  text-align: center;
  vertical-align: middle;
  line-height: 151px;
  font-weight: 200;

  }
}

.completed-card {
  height: 151px;
  width: 150px;
  border-radius: 13px;
  background-color: white;
  color: #FDDBDB;
  border-color: #FDDBDB;
  border-width: 1px;
  border-style: solid;
  h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 151px;
    font-weight: 200;
  }
}