.event-card{
  padding: 8px 8px;
  border-radius: 16px;
  height: 100px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  border: 1px solid $light;
  color: $body-color !important;
  margin-bottom: 5px;
  p{
    font-size: $label;
  }
}

a:hover{
  text-decoration: none !important;
}

#heart{
  height: 20px;
}

.card-information{
  margin-top: 7px;
  width: 100%;
}

.card-info{
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 6px;
  }
}

.card-info2{
  display: flex;
  justify-content: space-between;
}

#event-image{
  height: 80px;
  width: 80px;
  border-radius: 13px;
  object-fit: cover;
  margin-right: 8px;
}

.status-card {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.dashboard-cards {
  height: 151px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 47%;
  padding: 15px;
  margin: 10px 0;

  p {
    font-weight: lighter;
    line-height: 1;
  }
}

.dashboard-cards.upcoming {
  background-color: #3F3D56;
  color: white;
  margin-right: 15px;
}

.dashboard-cards.completed {
  background-color: white;
  color: #FDDBDB;
  border: 1px solid #FDDBDB;

}


