.event-card{
  padding: 8px 8px;
  border-radius: 16px;
  height: 100px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  border: 1px solid $light;
  color: $body-color !important;
  margin-bottom: 5px;
  p{
    font-size: $label;
  }
}

.arrow-down-attendees{
width: 100%;
margin-left: 47%;
i:hover{
  color: #403D57;
  cursor: pointer;
}
}

.fa-chevron-down {
  color: $primary;
}

.content-flex{
  display: flex;
}

.event-card-attendees{
  padding: 8px 8px;
  // padding-bottom: 100px;
  border-radius: 16px;
  // height: 100px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.04);
  border: 1px solid $light;
  color: $body-color !important;
  margin-bottom: 5px;
  p{
    font-size: $label;
  }
}

.name-tag{
  margin-top: 0;
  font-size: $label;
  text-align: center;
}

.user-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

a:hover{
  text-decoration: none !important;
}

#heart{
  height: 20px;
}

.card-information{
  margin-top: 7px;
  width: 100%;
}

.card-info{
  display: flex;
  justify-content: space-between;
  p {
    // margin-bottom: 6px;
  }
}

.card-info2{
  display: flex;
  justify-content: space-between;
}

#event-image{
  height: 80px;
  width: 80px;
  border-radius: 13px;
  object-fit: cover;
  margin-right: 8px;
}

.status-card {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.dashboard-cards {
  height: 151px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 47%;
  padding: 15px;
  margin: 10px 0;

  p {
    font-weight: lighter;
    line-height: 1;
    margin-bottom: .5em
  }
}

.dashboard-cards.upcoming {
  background-color: #3F3D56;
  color: white;
  margin-right: 15px;
}

.dashboard-cards.completed {
  background-color: #3F3D56;
  color: white;
  border: 1px solid #747272;
}


.dashboard-cards.upcoming.disable {
  background-color: white;
  color: #3F3D56;
  margin-right: 15px;
  border: 1px solid #747272;
  opacity: 0.2;
}

.dashboard-cards.completed.disable {
  background-color: white;
  color: #3F3D56;
  border: 1px solid #FDDBDB;
  opacity: 0.2;
  border: 1px solid #747272;
}

.dashboard-cards-my-event {
  height: 80px;
  width: 100%;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  margin: 10px 0;
  background-color: #3F3D56;
  color: white;
  margin-right: 15px;
  border: 1px solid #747272;
}

.dashboard-cards-my-event.disable {
  height: 80px;
  width: 100%;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  margin: 10px 0;
  background-color: white;
  color: #3F3D56;
  margin-right: 15px;
  border: 1px solid #747272;
  opacity: 0.2;
}
