.logo-login-white {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  background: white;
}

.nav-container-white {
  margin: auto;
  p, a {
   padding-right: 10px;
   padding-left: 20px;
   padding-bottom: 8px;
   color: $body-color;
   }
}

.login {
  font-weight: lighter;
  font-size: 7px;
    }
