.logo-login-purple {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  background: $body-color;
}

.logo-login-purple p {
  color: $light;
}

.nav-container {
  margin: auto;
  margin-bottom: 10px;

  p {
   padding-right: 20px;
   padding-left: 20px;
  }
}