.logo-login-white {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  background: white;
}

.logo-login-white p {
  color: $primary;
}

.nav-container {
  margin: auto;
  margin-bottom: 10px;
  p {
   padding-right: 20px;
   padding-left: 20px;
  }
}
