.navbar-bottom{
  height: 45px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  position: fixed;
  background-color: white;

}

.navbar-icon{
  height: 27px;
}

.sticky {
  position: fixed;
  bottom: 0;
}
