@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

body {
  font-family: "Roboto", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "sans-serif";
}

.certificate-container {
  padding: 100px;
  height: 100%;
  width:100%;
  border: 20px solid #4B488F;
  text-align: center;
}

.certificate-container h1 {
  font-size: 72px;
  color: #403D56;
}

.no-pic-avatr {
  width: 85px;
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
}

.certificate-container h2 {
  font-size: 54px;
}

.certificate-container h3, .certificate-container a {
  font-size: 40px;
  color: #403D57;
}

.personal-vol-info p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.certificate-container p {
  font-size: 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-dashboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}
